{{ if .Site.Params.thumbnailImage }}
  {{ if .Params.thumbnailimage }}
    {{ .Scratch.Set "thumbnailImage" (.Params.thumbnailimage | absURL) }}
  {{ else }}
    {{ if or .Params.autothumbnailimage (and .Site.Params.autoThumbnailImage (ne .Params.autothumbnailimage false)) }}
      {{ if .Params.gallery }}
        {{ range first 1 .Params.gallery }}
          {{ range first 1 (split . " ") }}
            {{ $.Scratch.Set "thumbnailImage" (. | absURL) }}
          {{ end }}
        {{ end }}
      {{ else }}
        {{ if .Params.coverimage }}
          {{ .Scratch.Set "thumbnailImage" (.Params.coverimage | absURL) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if or .Params.thumbnailimageposition .Site.Params.thumbnailimageposition }}
  {{ .Scratch.Set "thumbnailImagePosition" (.Params.thumbnailimageposition | default .Site.Params.thumbnailimageposition) }}
{{ else }}
  {{ .Scratch.Set "thumbnailImagePosition" "bottom" }}
{{ end }}
<article class="postShorten postShorten--thumbnailimg-{{ .Scratch.Get "thumbnailImagePosition" }}" itemscope itemType="http://schema.org/BlogPosting">
  <div class="postShorten-wrap">
    {{ if and (.Scratch.Get "thumbnailImage") (eq (.Scratch.Get "thumbnailImagePosition") "top")}}
      <a href="{{ .Permalink }}">
        <div class="postShorten-thumbnailimg">
          <img alt="" itemprop="image" src="{{ .Scratch.Get "thumbnailImage" }}"/>
        </div>
      </a>
    {{ end }}
    <div class="postShorten-header">
      <h1 class="postShorten-title" itemprop="headline">
        <a class="link-unstyled" href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h1>
      {{ partial "post/meta" . }}
    </div>
    <div class="postShorten-excerpt" itemprop="articleBody">
      {{ if .Params.Summary }}
        {{ .Params.Summary | markdownify }}
      {{ else }}
        {{ .Summary }}
      {{ end }}
      <p>
        <a href="{{ .Permalink }}" class="postShorten-excerpt_link link">{{ i18n "post.read_more" }}</a>
        {{ with .Params.readingtime }}
          <span class="postShorten-readingtime">
            {{ printf " - %s min read" . }}
          </span>
        {{ end }}
      </p>
    </div>
  </div>
  {{ if and (.Scratch.Get "thumbnailImage") (ne (.Scratch.Get "thumbnailImagePosition") "top")}}
    <a href="{{ .Permalink }}">
      <div class="postShorten-thumbnailimg">
        {{ $image := .Param "thumbnailImage"}}
        <img alt="" itemprop="image" src="{{ replaceRE "\\.(.*)" "_thumb.$1" $image }}"/>

      </div>
    </a>
  {{ end }}
</article>
