{{- $.Scratch.Set "isPost" false -}}
{{- if .IsPage -}}
  {{- if eq .Type "post" -}}
    {{- $.Scratch.Set "isPost" true -}}
  {{- end -}}
{{- end -}}
{{- if and (and ($.Scratch.Get "isPost") (lt .Site.Params.sidebarBehavior 3)) (or (and .Site.Params.clearReading (not .Params.clearReading)) .Params.clearReading) -}}
  {{- .Scratch.Set "sidebarBehavior" (add .Site.Params.sidebarBehavior 3) -}}
{{- else -}}
  {{- .Scratch.Set "sidebarBehavior" .Site.Params.sidebarBehavior -}}
{{- end -}}
<!-- Fix hugo 0.17 expects ".Site.Author.gravatarEmail" whereas hugo 0.18 expects ".Site.Author.gravataremail" -->
{{- if .Site.Author.gravatarEmail -}}
  {{- .Scratch.Set "gravatarEmail" .Site.Author.gravatarEmail -}}
{{- end -}}
{{- if .Site.Author.gravataremail -}}
  {{- .Scratch.Set "gravatarEmail" .Site.Author.gravataremail -}}
{{- end -}}
{{- if .Scratch.Get "gravatarEmail" -}}
  {{- .Scratch.Set "authorPicture" (printf "https://www.gravatar.com/avatar/%s" (urlize (md5 (.Scratch.Get "gravatarEmail")))) -}}
{{- else if .Site.Author.picture -}}
  {{- .Scratch.Set "authorPicture" (absURL .Site.Author.picture) -}}
{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head_start.html" . }}
    {{ partial "meta.html" . }}
    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

    <link rel="icon" href="{{ with .Site.Params.favicon }}{{ . }}{{ else }}/favicon.png{{ end }}">
    {{ with .OutputFormats.Get "RSS" }}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RelPermalink }}">
    {{ end }}

    {{ with .Site.Author.googleplus }}
      <link rel="publisher" href="https://plus.google.com/{{ . | urlize }}">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <!--EXTERNAL STYLES-->
    <link rel="stylesheet" rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.min.css" integrity="sha256-vuXZ9LGmmwtjqFX1F+EKin1ThZMub58gKULUyf0qECk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/helpers/jquery.fancybox-thumbs.min.css" integrity="sha256-SEa4XYAHihTcEP1f5gARTB2K26Uk8PsndQYHQC1f4jU=" crossorigin="anonymous" />
    <!--EXTERNAL STYLES END-->
    <!--STYLES-->
    <link rel="stylesheet" href="/css/style-twzjdbqhmnnacqs0pwwdzcdbt8yhv8giawvjqjmyfoqnvazl0dalmnhdkvp7.min.css" />
    <!--STYLES END-->
    {{ range .Site.Params.customCSS }}
      {{ if isset . "href" }}
        <link {{ if not (isset . "rel") }}rel="stylesheet" {{ end }}{{ range $key, $value := . }} {{ if eq $key "href" }}{{ (printf "%s=\"%s\"" $key ($value | absURL)) | safeHTMLAttr }}{{ else }}{{ (printf "%s=\"%s\"" $key (string $value)) | safeHTMLAttr }}{{ end }}{{ end }}>
      {{ else }}
        <link rel="stylesheet" href="{{ . | absURL }}">
      {{ end }}
    {{ end }}

    {{ if .Params.ga.async }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ else }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
    {{ partial "head_end.html" . }}
  </head>
